<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une offre d'emploi</title>
    <th:block th:fragment="bootstrapImports">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
    </th:block>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<nav>
    <a th:href="@{/logout}"> <button class="btn btn-danger">Log Out</button> </a>
</nav>
<div class="p-3 mb-2  text-white">
    <form class="form-inline" th:action="@{/joboffer/add}" th:object="${joboffer}" method="post">
        <div class="form-group">

            <input type="hidden" th:field="*{id}" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" th:field="*{jobName}" class="form-control" id="titre">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" th:field="*{jobDescription}" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="wage">Salaire envisagé</label>
            <input type="number" step="0.01" th:field="*{wage}" class="form-control" id="wage">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="datetime-local" th:field="*{date}" class="form-control" id="date">
        </div>


        <button type="submit" class="btn btn-success">Valider</button>
    </form>
    <a th:href="@{/joboffer}"><button class="btn btn-primary">Page d'accueil </button></a>
</div>
</body>
</html>